body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
    border-bottom: none;
}

.navbar .left {
    font-size: 24px;
    font-weight: bold;
    color: black;
    padding-left: 20px;
}

.navbar .right {
    display: flex;
    gap: 10px;
}

.navbar button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.navbar button:hover {
    background-color: #f0f0f0;
}

.content {
    padding: 20px;
}


.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.navbar-link {
    color: black;
    text-decoration: none;
}

.img-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
