<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>프로필 저장</title>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
<div class="content">
    <h1 class="satisfy-regular">Blog 프로필 저장</h1>
    <form id="profileForm" onsubmit="event.preventDefault(); saveProfile();">
        <div class="form-group">
            <label for="username">ID</label>
            <input type="text" id="username" name="username" readonly required>
        </div>
        <div class="form-group">
            <label for="description">자기 소개</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="profilePicture">프로필 사진</label>
            <input type="file" id="profilePicture" name="profilePicture">
        </div>
        <button type="submit">프로필 저장</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>
